body, html {
    height: 100%;
    background-image: url("/api/background-img");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}